# case-insensitive tab comlpetion
set completion-ignore-case On

# don't overwrite end of word when completing from the middle
set skip-completed-text On

set editing-mode vi

set enable-bracketed-paste On

# delete to previous path segment
C-k:unix-filename-rubout

set bell-style none
