snippet route "cap6685 project route"
(route (city1 "${1:Talahassee}") (city2 "${2:Lake City}") (distance ${3:1}))
route$0
endsnippet

snippet package "cap6685 project package"
(package (num ${1}) (depart "${2:Talahassee}") (dest "${3:Lake City}")
	(size ${4:2}) (order-time ${5:2}) (deliver-by ${6:15}))
package$0
endsnippet
