snippet query "sql query"
-- Query ${1}
SELECT ${2:*}
FROM ${3:Table}
WHERE ${4};

query$0
endsnippet

snippet insert "INSERT INTO"
INSERT INTO ${1:Table} (${2:row_names}) VALUES
  (${3:row_vals})$0;
endsnippet

snippet trigger "sql trigger"
CREATE ${1:OR REPLACE} FUNCTION ${2:fn_name}() RETURNS trigger AS $$2$
	BEGIN
		$0
	END;
$$2$ LANGUAGE ${3:plpgsql};

CREATE TRIGGER ${4:TriggerName}
${5:BEFORE|AFTER|INSTEAD OF} ${6:INSERT|UPDATE}
FOR EACH ROW EXECUTE PROCEDURE $2();
endsnippet
