snippet lock "try-finally locked statement"
${1:lock}.lock();
try {
	${2:${VISUAL}}
} finally {
	$1.unlock();
}
endsnippet

snippet blockcomment "block comment visual selection"
/*
${2:${VISUAL}}
*/
endsnippet
